{% extends 'students/layout.html' %}

{% block content %}
    <div class="container text-center" style="margin-top: 1em;">
        <h1>Join Class</h1>
    </div>

    {% load crispy_forms_tags %}
    <div class="container" style="margin-top: 2em;">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger col-12" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form action="{% url 'students:join_class' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-middle-blue" value="Join Class">
        </form>
    </div>
{% endblock %}