{% extends 'users/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 9em">
            <div class="col"></div>
            <div class="col-10 col-md-6">
                <div class="card" style="height: auto; width: auto">
                    <div class="card-body" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
                        <h2 class="card-title">Welcome to qUP!</h2>
                        <p style="font-size: 20px">All your office hours in one place!</p>
                        <a href="{% url 'users:login' %}" class="btn btn-lg btn-robin-egg-blue">Log In</a>&nbsp;
                        <a href="{% url 'users:register' %}" class="btn btn-lg btn-robin-egg-blue">Sign Up</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock %}