{% extends 'users/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6em">
            <div class="col"></div>
            <div class="col-8">
                <div class="card" style="height: auto">
                    <div class="card-body">
                        <h2 class="card-title" style="text-align: center; margin-top: 0.5em">Welcome Back!</h2>
                        <div class="row justify-content-center" style="margin-top: 1em">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger col-sm-8" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% load crispy_forms_tags %}
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-block btn-lg btn-robin-egg-blue" value="Log In" style="margin-top: 2em; margin-bottom: 1em;">
                        </form>
                        Don't have an account? <a href="{% url 'users:register' %}">Register here.</a>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>

{% endblock %}