{% extends 'teachers/layout.html' %}
{% load static %}

{% block content %}
    <div class="container text-center" style="margin-top: 1em;">
        <h1>{{ classroom.name }}</h1>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 col-md-3">
            <a class="btn btn-middle-blue" href="{% url 'teachers:add_queue' classroom.id %}">
                <span class="fa fa-plus"></span> Office Hours
            </a>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if not empty_list %}
                <div class="card-deck" style="margin-top: 1em;">
                    {% for queue in queues %}
                        <div class="row col-md-6 col-12">
                            <div class="card mb-4 mt-2" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="card-body">
                                        <div class="card-title">
                                            <div class="row">
                                                <div class="col-8">
                                                    <h5 id="queue-name-{{ queue.id }}">
                                                        {{ queue.name }}
                                                    </h5>
                                                </div>
                                                <div class="col-5 col-lg-4">
                                                    <a class="btn btn-danger btn-block align-right" href="{% url 'teachers:delete_queue' queue.id %}">
                                                        <span class="fa fa-trash"></span> Delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text">
                                            <div class="row mb-3" id="edit-open-div-{{ queue.id }}">
                                                <div class="col-5">
                                                    <a class="btn btn-light-coral edit-queue-btn btn-block" href="{% url 'teachers:edit_queue' queue.id %}">
                                                        <span class="fa fa-edit"></span> Edit
                                                    </a>
                                                </div>
                                                <div class="col-7">
                                                    {% if queue.currently_meeting and not queue.opened and not queue.done %}
                                                        <a class="btn btn-block btn-dark-pastel-green" id="{{ queue.id }}" href="{% url 'teachers:open_queue' queue.id %}">
                                                            Open Queue
                                                        </a>
                                                    {% endif %}
                                                    {% if queue.currently_meeting and queue.opened and not queue.done%}
                                                        <a class="btn btn-block btn-dark-pastel-green" id="{{ queue.id }}" href="{% url 'teachers:opened_queue' queue.id %}">
                                                            Join
                                                        </a>
                                                    {% endif %}
                                                    {% if not queue.currently_meeting and not queue.opened and not queue.done%}
                                                        <button class="btn btn-block btn-secondary" disabled>
                                                            Unavailable
                                                        </button>
                                                    {% endif %}
                                                    {% if queue.done %}
                                                        <a class="btn btn-block btn-bleu-de-france" id="{{ queue.id }}" href="{% url 'teachers:view_feedback' queue.id %}">
                                                            View Feedback
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-text queue-info-{{ queue.id }}">
                                            {{ queue.date }}, {{ queue.start_time }} to {{ queue.end_time }}
                                            <br>Location: {{ queue.location }}<br>
                                            {% if queue.has_meeting_url %}
                                                Meeting URL: <a href="{{ queue.meeting_url }}">{{ queue.meeting_url }}</a>
                                            {% else %}
                                                Meeting URL: None
                                            {% endif %}
                                            <br>Additional Info: {{ queue.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center mt-5">
                    No office hours available.
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}