{% extends 'teachers/layout.html' %}

{% block content %}
    <div class="container text-center" style="margin-top: 1em;">
        <h1>{{ classroom.name }}</h1>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-4 col-md-3">
            <a class="btn btn-middle-blue" href="{% url 'teachers:add_queue' classroom.id %}">
                <span class="fa fa-plus"></span> Office Hours
            </a>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            {% if queues %}
                <div class="card-deck" style="margin-top: 1em;">
                    {% for queue in queues %}
                        <div class="row col-md-6 col-12">
                            <div class="card mb-4 mt-2" style="width: 100%;">
                                <div class="row no-gutters">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ queue.name }}
                                        </h5>
                                        <p class="card-text">
                                            {{ queue.date }}<br>Starts {{ queue.start_time }}<br>Ends {{ queue.end_time }}
                                            <br>Location: {{ queue.location }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center mt-5">
                    No office hours available.
                </div>
            {% endif %}
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}
