{% extends 'teachers/layout.html' %}

{% block content %}
    <div class="container" style="margin-top: 1em;">
        <h1 style="text-align: center">Dashboard</h1>
    </div>

    <div style="margin-top: 2em;">

        <div class="row ml-3 mr-3">
            <div class="col"></div>
            <div class="col-12 col-md-6 mr-2 mb-3">
                {% for queue in current_queues %}
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <div class="card-title">
                                <h5>{{ queue.classroom.name }} - {{ queue.name }}</h5>
                            </div>
                            <div class="card-text mb-3">
                                {% if queue.currently_meeting and not queue.opened %}
                                    <a class="btn btn-block btn-dark-pastel-green" id="{{ queue.id }}" href="{% url 'teachers:open_queue' queue.id %}">
                                        Open Queue
                                    </a>
                                {% endif %}
                                {% if queue.currently_meeting and queue.opened %}
                                    <a class="btn btn-block btn-dark-pastel-green" id="{{ queue.id }}" href="{% url 'teachers:opened_queue' queue.id %}">
                                        Join OH
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-text">{{ queue.date }}</div>
                            <div class="card-text">Starts: {{ queue.start_time }}</div>
                            <div class="card-text">Ends: {{ queue.end_time }}</div>
                            {% if queue.has_url %}
                                <div class="card-text">Meeting URL: <a>{{ queue.meeting_url }}</a></div>
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-5 col-12">
                <div class="card">
                    <div class="card-header text-center">
                        Recent Office Hours
                    </div>

                    <ul class="list-group list-group-flush scrollable">
                        {% for queue in recently_finished %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-6 col-md-10 col-12">
                                        {{ queue.classroom.name }} - {{ queue.name }}
                                    </div>
                                    <div class="col-lg-6 col-md-8 col-12 mt-2">
                                        <button class="btn btn-block btn-bleu-de-france">View Feedback</button>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                            <li class="list-group-item text-center">
                                No office hours in the past 7 days.
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col"></div>
        </div>


    </div>
{% endblock %}