{% extends 'teachers/layout.html' %}

{% block content %}
    <div class="container" style="margin-top: 1em;">
        <h1 style="text-align: center">{{ queue.name }}</h1>
    </div>

    <div class="row">
        <div class="col-5" style="margin-left: 2.5em;"><a class="btn btn-danger" href="{% url 'teachers:end_queue' queue.id %}">End Office Hours</a></div>
    </div>

    <div style="margin-top: 2em;">

        <div class="row ml-4 mr-4">
            <div class="col-12 col-md-5 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Office Hours Info</h5>
                        <div class="card-text">
                            {{ queue.start_time }} to {{ queue.end_time }}
                            <br>Location: {{ queue.location }}<br>
                            {% if queue.has_meeting_url %}
                                Meeting URL: <a href="{{ queue.meeting_url }}">{{ queue.meeting_url }}</a>
                            {% else %}
                                Meeting URL: None
                            {% endif %}
                            <br>Additional Info: {{ queue.description }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-7 col-12 mb-5" style="margin-top: -1.5em;">
                <h5 class="mb-3">In Queue <span class="badge badge-pill btn-info"> {{ num_students }}</span></h5>
                {% for item in oh_line %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ forloop.counter }}. {{ item.student.user.first_name }} {{ item.student.user.last_name }}
                            </h5>
                            <div class="card-text mb-3">
                                Joined at {{ item.time_joined }}
                            </div>
                            <div class="card-text">
                                Location: {{ item.location }}<br>
                                {% if item.has_student_url %}
                                    Student Meeting URL: <a href="{{ item.student_url }}">{{ item.student_url }}</a>
                                {% else %}
                                    Student Meeting URL: None
                                {% endif %}
                                <br>
                                Description: {{ item.description }}
                            </div>
                            {% if forloop.counter == 1 %}
                                <a class="btn btn-middle-blue mt-3" href="{% url 'teachers:finished_helping' item.id %}">Finished Helping</a>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <li class="list-group-item text-center">
                        No students are in the queue.
                    </li>
                {% endfor %}

            </div>
        </div>


    </div>


{% endblock %}